.navigation-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 80px;
    background-color: #161616;
}

.navigation-wrap .inner-wrap {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    height: 80px;
    position: relative;
}

.navigation-wrap .inner-wrap .logo {
    left: 24px;
}

.navigation-wrap .user-navigation {
    margin: 0;
    padding: 0;
    display: block;
    right: 24px;
    color: #EFEFEF;
}

.navigation-wrap .user-navigation li {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    margin-left: 12px;
    line-height: 80px;
    color: #444444;
}

.navigation-wrap .user-navigation li button {
    line-height: 80px;
    height: 80px;
    color: #efefef;
}

.navigation-wrap .search-wrap {
    left: 200px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 8px;
    width: 400px;
    overflow: hidden;
}

.navigation-wrap .search-wrap input {
    width: 100%;
    height: 40px;
    background: none;
    border: none !important;
    outline: 0 !important;
    padding: 0 16px 0 48px;
    color: #FFFFFF;
}

.navigation-wrap .search-wrap .icon {
    left: 8px;
}