@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  min-height: 100vh;
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      at 16% 69%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 68% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

.dark-bg {
  background-color: #0000009e;
  width: 75%; 
  margin: 0 auto;
  border-radius: 13px;
  padding: 7px;
}

body {
  overflow-x: hidden;
}