@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT NAME "WinchesterCapsRegular" */
@import url('./assets/fonts/WinchesterCaps/style.css');

.main-content-wrap {
  box-sizing: border-box;
  padding-top: 80px;
  color: #EFEFEF;
}

.custom-bg {
  min-height: 100vh;
}

.image-background {
  min-height: 100vh;
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.item-table {
  position: absolute;
  width: 100%;
  top: 200px;
  opacity: 0;
}

.item-backdrop-wrap {
  min-width: 1100px;
  max-width: 1100px;
  position: relative;
  margin: auto;
}

.item-podium {
  position: absolute;
  width: 0%;
  margin-left: -1%;
  top: 150px;
  opacity: 0;
  filter: grayscale(1);
}

.item {
  width: 100px;
  top: -300px;
}

.transition-1s {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.transition-03s {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.vh-centered {
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.v-centered {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}

.dark-bg {
  background-color: #0000009e;
  width: 75%; 
  margin: 0 auto;
  border-radius: 13px;
  padding: 7px;
}

body {
  overflow-x: hidden !important;
  background: #191919;
}